div.w-100(class=activeClass).position-absolute.top-0
    .content-silder.w-100 
        .img-h1.position-relative
            .h1.w-100.d-flex.justify-content-center
                div.w-100.d-flex.justify-content-center 
                    a(href="").text-decoration-none.d-block.py-5.w-100.d-flex.justify-content-center 
                        h1.text-white= nameCat
            .img.position-absolute.top-0.w-100.h-100
                img.w-100.h-100(src=src alt="image caregory")
    
    .box-pack.position-relative
        .container-fluid 
            div.row
                .pack.col-4 
                    div.py-3.px-3.w-100.bg-white 
                        div
                            h2.text-capitalize book front end
                        div.w-100 
                            a.w-100(href="")
                                img.w-100(src=src, alt="", ) 
                        div.py-2 
                            h6 Change by Design: How Design Thinking Transforms Organizations and Inspires Innovation
                        div
                            a(href="") See more
                .pack.col-4 
                    div.py-3.px-3.w-100.bg-white 
                        div
                            h2.text-capitalize book front end
                        div.w-100 
                            a.w-100(href="")
                                img.w-100(src=src, alt="", ) 
                        div.py-2 
                            h6 Change by Design: How Design Thinking Transforms Organizations and Inspires Innovation
                        div
                            a(href="") See more
                .pack.col-4 
                    div.py-3.px-3.w-100.bg-white 
                        div
                            h2.text-capitalize book front end
                        div.w-100 
                            a.w-100(href="")
                                img.w-100(src=src, alt="", ) 
                        div.py-2 
                            h6 Change by Design: How Design Thinking Transforms Organizations and Inspires Innovation
                        div
                            a(href="") See more


